/* MadCap Table Style: */

/*<meta fileTags="" Version="9" />*/

mcTableStyle
{
	name: Tab_2;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-spacing-y: 0;
	border-spacing-x: 0;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	max-id: 4;
	orphans: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	name: Spalte1;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	name: Spalte2;
	id: 1;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #808080;
	font-weight: bold;
	font-style: normal;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	color: #ffffff;
	vertical-align: middle;
	name: Kopfzeile1;
	id: 4;
}

mcTableBodyStyle
{
	span: 1;
	background-color: #ffdead;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	name: Body1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	background-color: #fdf5e6;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	name: Body2;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Tab_2
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1pt;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1pt;
	orphans: 3;
	border-spacing: 0px 0px;
}

.TableStyle-Tab_2-Column-Spalte1
{
	
}

.TableStyle-Tab_2-Column-Spalte2
{
	
}

.TableStyle-Tab_2-Head-Kopfzeile1
{
	
}

.TableStyle-Tab_2-HeadI-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadI-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadE-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-HeadE-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadF-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-HeadF-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadH-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadH-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadD-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-HeadD-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadC-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadC-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadB-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadB-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadA-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadA-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadG-Spalte1-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadG-Spalte1-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadI-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadI-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadE-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-HeadE-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadF-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-HeadF-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadH-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadH-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadD-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-HeadD-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadC-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadC-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadB-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadB-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadA-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadA-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-HeadG-Spalte2-Kopfzeile1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background-color: #808080;
}

.TableStyle-Tab_2-HeadG-Spalte2-Kopfzeile1 p
{
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Tab_2-FootI-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootI-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootE-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-FootE-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootF-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootF-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootH-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-FootH-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootD-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootD-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootC-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootC-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootB-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-FootB-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootA-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootA-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootG-Spalte1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootG-Spalte1- p
{
	
}

.TableStyle-Tab_2-FootI-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootI-Spalte2- p
{
	
}

.TableStyle-Tab_2-FootE-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-FootE-Spalte2- p
{
	
}

.TableStyle-Tab_2-FootF-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootF-Spalte2- p
{
	
}

.TableStyle-Tab_2-FootH-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-FootH-Spalte2- p
{
	
}

.TableStyle-Tab_2-FootD-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootD-Spalte2- p
{
	
}

.TableStyle-Tab_2-FootC-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootC-Spalte2- p
{
	
}

.TableStyle-Tab_2-FootB-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-FootB-Spalte2- p
{
	
}

.TableStyle-Tab_2-FootA-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootA-Spalte2- p
{
	
}

.TableStyle-Tab_2-FootG-Spalte2-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Tab_2-FootG-Spalte2- p
{
	
}

.TableStyle-Tab_2-Body-Body1
{
	
}

.TableStyle-Tab_2-BodyI-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
}

.TableStyle-Tab_2-BodyI-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyE-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyE-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyF-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-BodyF-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyH-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyH-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyD-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-BodyD-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyC-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
}

.TableStyle-Tab_2-BodyC-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyB-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyB-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyA-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
}

.TableStyle-Tab_2-BodyA-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyG-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
}

.TableStyle-Tab_2-BodyG-Spalte1-Body1 p
{
	
}

.TableStyle-Tab_2-BodyI-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
}

.TableStyle-Tab_2-BodyI-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-BodyE-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyE-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-BodyF-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-BodyF-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-BodyH-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyH-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-BodyD-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-BodyD-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-BodyC-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
}

.TableStyle-Tab_2-BodyC-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-BodyB-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyB-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-BodyA-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
}

.TableStyle-Tab_2-BodyA-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-BodyG-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffdead;
}

.TableStyle-Tab_2-BodyG-Spalte2-Body1 p
{
	
}

.TableStyle-Tab_2-Body-Body2
{
	
}

.TableStyle-Tab_2-BodyI-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
}

.TableStyle-Tab_2-BodyI-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyE-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyE-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyF-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-BodyF-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyH-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyH-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyD-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-BodyD-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyC-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
}

.TableStyle-Tab_2-BodyC-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyB-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyB-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyA-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
}

.TableStyle-Tab_2-BodyA-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyG-Spalte1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
}

.TableStyle-Tab_2-BodyG-Spalte1-Body2 p
{
	
}

.TableStyle-Tab_2-BodyI-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
}

.TableStyle-Tab_2-BodyI-Spalte2-Body2 p
{
	
}

.TableStyle-Tab_2-BodyE-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyE-Spalte2-Body2 p
{
	
}

.TableStyle-Tab_2-BodyF-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-BodyF-Spalte2-Body2 p
{
	
}

.TableStyle-Tab_2-BodyH-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyH-Spalte2-Body2 p
{
	
}

.TableStyle-Tab_2-BodyD-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Tab_2-BodyD-Spalte2-Body2 p
{
	
}

.TableStyle-Tab_2-BodyC-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
}

.TableStyle-Tab_2-BodyC-Spalte2-Body2 p
{
	
}

.TableStyle-Tab_2-BodyB-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Tab_2-BodyB-Spalte2-Body2 p
{
	
}

.TableStyle-Tab_2-BodyA-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
}

.TableStyle-Tab_2-BodyA-Spalte2-Body2 p
{
	
}

.TableStyle-Tab_2-BodyG-Spalte2-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fdf5e6;
}

.TableStyle-Tab_2-BodyG-Spalte2-Body2 p
{
	
}


